.app-container {
  max-width: 65%;
  margin: 0 auto;
  min-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  font-family: cursive, sans-serif;
  font-size: 2rem;
}
